anndata==0.8.0
astunparse==1.6.3
backports.zoneinfo==0.2.1
bokeh==2.4.3
brotlipy==0.7.0
cachetools==5.2.0
certifi 
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cmcrameri==1.5
contourpy==1.0.7
cryptography 
cycler==0.11.0
filelock
fonttools==4.37.1
gast==0.4.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gseapy==1.0.4
gudhi==3.8.0
h5py==3.7.0
idna==3.3
igraph==0.10.4
imageio==2.9.0
importlib-metadata==4.12.0
Jinja2==3.1.2
joblib==1.1.0
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lazy_loader==0.2
leidenalg==0.8.4
libclang==14.0.6
llvmlite
loompy==3.0.7
louvain==0.8.0
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib>=3.6.0
mkl-random 
mkl-service
mpmath 
munkres==1.1.4
NaiveDE==1.2.0
natsort==8.2.0
networkx==2.8.6
numba
numpy
numpy-groupies==0.9.19
oauthlib==3.2.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.0
patsy==0.5.2
Pillow==9.2.0
protobuf==3.19.5
psutil==5.9.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pynndescent==0.5.7
pyOpenSSL 
pyparsing==3.0.9
PySocks 
python-dateutil==2.8.2
python-igraph==0.9.1
python-louvain==0.16
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
rpy2==3.5.4
rsa==4.9
scanpy==1.9.1
scikit-image==0.20.0
scikit-learn
scikit-misc
scikit-network
scipy==1.9.2
seaborn==0.12.0
session-info==1.0.0
silhouetteRank==1.0.5.13
six 
smart-open==6.3.0
smfishHmrf==1.3.3
SpatialDE==1.1.3
statsmodels
stdlib-list==0.8.0
sympy==1.5.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow-io-gcs-filesystem
texttable==1.6.4
threadpoolctl==3.1.0
tifffile==2023.3.21
torch==2.0.1
torch-geometric==2.3.1
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.59.0
triton==2.0.0
typing_extensions 
tzdata==2022.2
tzlocal==4.2
umap-learn==0.5.3
urllib3==1.26.12
Werkzeug==2.2.2
zipp==3.8.1
